
<strong>Please allow the below pages an extended time to retrieve plants from the database</strong>

<ul>
<% @growing_zones.each do |g| %>
    <li><%= link_to g.name, growing_zone_path(g) %></li>
<% end %>
</ul>