
<h1>Zone/Region: <%= @growing_zone.name %></h1>
<h3>Zone ID: <%= @growing_zone.zone_id %></h3>
<h2>Plants:</h2>

<ul>
    <% @plants.each do |p| %>
        <li><%= p.name %></li>
    <% end %>
</ul>
